<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task|%>

  <li>
    <% if task.completed == true %>
        <input id="completed" checked="checked" type="checkbox">
      <% else %>
        <input id="completed" type="checkbox">
      <% end%>
      <%= link_to task.title, task_path(task) %></li>
  <% end%>
</ul>
<div><%= link_to "Add a new task",  new_task_path %></div>
